* {
    font-family: Georgia, 'Nimbus Roman No9 L', 'Century Schoolbook L', serif;
    box-sizing: border-box;
  }

.Logo {
    height: 8vmin;
    display: flex;
    align-items: left;
}

.profilePicture{
    width: 8vmin;
    height: 8vmin;
    margin: .25vmin;
  }
  
  .profilePicture:hover{
    width: 8.5vmin;
    height: 8.5vmin;
  }

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    background-color: rgba(217,217,0217,0.3);
    color: #333;
    font-size: 3vmin;
    font-weight: bold;
    height: 15vmin;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
  }

  .userTitle {
    font-size: 2vmin;
  }

.userText {
    display: flex;
    flex-direction: column;
}

.userinfo {
    display: flex;
    align-items: center;
    margin-right: 2vmin;
}