.sidebarlist {
    list-style-type: none;
    margin-left: -4.6vmin;
    margin-right: -1.4vmin;
    align-items: end;
}

li {
    margin: 0.1vmin;
    padding: 1.5vmin;
}

li:hover{
    color: white;
    cursor: pointer;
    background-color: var(--red);
}

.sublist {
    list-style-type: none;
    padding-left: 9vmin;
    font-size: 1.6vmin;
}

.sublist:hover{
    color: var(--red);
    background-color: #E3E3E3;
}

.svg-icon {
    width: 4vmin;
    height: 4vmin;
    margin-right: 1vmin;
    position: relative;
    bottom: 0.5vmin;
}