* {
  font-family: Georgia, 'Nimbus Roman No9 L', 'Century Schoolbook L', serif;
  box-sizing: border-box;
}

.sidebar {
  /* position: fixed; */
  top: 15vmin;
  background-color: #E3E3E3;
  font-size: 2vmin;
  font-weight: bold;
  height: 100%;
}

.main {
  /* position: fixed; */
  /* padding-top: 3vmin; */
  top: 15vmin;
  left: 33vmin;
  height: 100vmin;
  font-size: 1.3em;
  font-weight: bold;
}